<div class="col-md-4 text-center service-item">
  <div class="service-icon center-block">
    <i class="fa fa-user-md fa-4x"></i>
  </div>
  <div>{% capture service_1_ball %}{% include content/service_1_ball.md %}{% endcapture %}
  {{ service_1_ball | markdownify }}
  </div>
  <p><a class="btn btn-default" href="#data_extraction" role="button">Learn More &raquo;</a></p>
</div><!-- /.col-lg-4 -->

<div class="col-md-4 text-center service-item">
  <div class="service-icon center-block">
    <i class="fa fa-hospital-o fa-4x"></i>
  </div>
  <div>{% capture service_2_ball %}{% include content/service_2_ball.md %}{% endcapture %}
  {{ service_2_ball | markdownify }}
  </div>
  <p><a class="btn btn-default" href="#emr_conversion" role="button">Learn More &raquo;</a></p>
</div><!-- /.col-lg-4 -->

<div class="col-md-4 text-center service-item">
  <div class="service-icon center-block">
    <i class="fa fa-file-pdf-o fa-4x"></i>
  </div>
  <div>{% capture service_3_ball %}{% include content/service_3_ball.md %}{% endcapture %}
  {{ service_3_ball | markdownify }}
  </div>
  <p><a class="btn btn-default" href="#image_repository" role="button">Learn More &raquo;</a></p>
</div><!-- /.col-lg-4 -->
