      <hr class="service-divider">

      <div id="service1" class="row service">
        <div class="col-md-7 left-item">
          <div class="service-heading">{% capture service_1_headline %}{% include content/service_1_headline.md %}{% endcapture %}{{ service_1_headline | markdownify }}</div>
          <div class="lead">{% capture service_1_detail %}{% include content/service_1_detail.md %}{% endcapture %}
          {{ service_1_detail | markdownify }}
          </div>
        </div>
        <div class="col-md-5 right-item">
          <img class="service-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="service-divider">

      <div id="service2" class="row service">
        <div class="col-md-5 left-item">
          <img class="service-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
        </div>
        <div class="col-md-7 right-item">
          <div class="service-heading">{% capture service_2_headline %}{% include content/service_2_headline.md %}{% endcapture %}{{ service_2_headline | markdownify }}</div>
          <div class="lead">{% capture service_2_detail %}{% include content/service_2_detail.md %}{% endcapture %}
          {{ service_2_detail | markdownify }}
          </div>
        </div>
      </div>

      <hr class="service-divider">

      <div id="service3" class="row service">
        <div class="col-md-7 left-item">
          <div class="service-heading">{% capture service_3_headline %}{% include content/service_3_headline.md %}{% endcapture %}{{ service_3_headline | markdownify }}</div>
          <div class="lead">{% capture service_3_detail %}{% include content/service_3_detail.md %}{% endcapture %}
          {{ service_3_detail | markdownify }}
          </div>
        </div>
        <div class="col-md-5 right-item">
          <img class="service-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="service-divider">

      <!-- /Services  -->
