<div class="col-md-4 text-center service-item">
  <div class="service-icon center-block">
    <i class="fa fa-user-md fa-4x"></i>
  </div>
  <h2>{% include content/service_1_headline.html %}</h2>
  <p>{% include content/service_1_text.html %}</p>
  <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
</div><!-- /.col-lg-4 -->

<div class="col-md-4 text-center service-item">
  <div class="service-icon center-block">
    <i class="fa fa-hospital-o fa-4x"></i>
  </div>
  <h2>{% include content/service_2_headline.html %}</h2>
  <p>{% include content/service_2_text.html %}</p>
  <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
</div><!-- /.col-lg-4 -->

<div class="col-md-4 text-center service-item">
  <div class="service-icon center-block">
    <i class="fa fa-file-pdf-o fa-4x"></i>
  </div>
  <h2>{% include content/service_3_headline.html %}</h2>
  <p>{% include content/service_3_text.html %}</p>
  <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
</div><!-- /.col-lg-4 -->
