      <hr class="featurette-divider">

      <div id="service1" class="row featurette">
        <div class="col-md-7 left-item">
          <h2 class="featurette-heading">{% include content/service_1_headline.html %} <span class="text-muted">{% include content/service_1_muted.html %}</span></h2>
          <p class="lead">{% include content/service_1_detail.html %}</p>
        </div>
        <div class="col-md-5 right-item">
          <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div id="service2" class="row featurette">
        <div class="col-md-5 left-item">
          <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
        </div>
        <div class="col-md-7 right-item">
          <h2 class="featurette-heading">{% include content/service_2_headline.html %} <span class="text-muted">{% include content/service_2_muted.html %}</span></h2>
          <p class="lead">{% include content/service_2_detail.html %}</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div id="service3" class="row featurette">
        <div class="col-md-7 left-item">
          <h2 class="featurette-heading">{% include content/service_3_headline.html %} <span class="text-muted">{% include content/service_3_muted.html %}</span></h2>
          <p class="lead">{% include content/service_3_detail.html %}</p>
        </div>
        <div class="col-md-5 right-item">
          <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
